@use 'vars' as *;

@mixin textOverflow($lines: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

@mixin noTap {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin maskSafari {
  -webkit-mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); // fix for safari
}

@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin styledScrollbar(
  $trackbg: transparent,
  $thumbbg: $color-black,
  $thumbbgactive: $color-white,
  $radius: 0,
  $width: 2,
  $height: 1,
  $thumbborder: 0
) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }
  &::-webkit-scrollbar-track {
    border-radius: $radius;
    background-color: $trackbg;
  }
  &::-webkit-scrollbar-track:hover {
    background-color: $trackbg;
  }
  &::-webkit-scrollbar-track:active {
    background-color: $trackbg;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    border: $thumbborder solid $trackbg;
    background-color: $thumbbg;
    transition: background-color $transition ease;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $thumbbgactive;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: $thumbbgactive;
  }
}

@mixin noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
