$xxl: 1920px;
$xl: 1440px;
$lg: 1280px;
$md: 1024px;
$sm: 768px;
$xs: 540px;
$xs2: 375px;

$color-blue: #337ab7;
$color-blue-dark: #2e6da4;
$color-blue-light: #d7e9f6;
$color-grey-disabled: #9d9ea5;
$color-grey-text: #666666;
$color-grey-500: #cccccc;
$color-grey-200: #f2f2f4;
$color-grey-170: #cecece;
$color-grey-160: #ebebeb;
$color-grey-150: #fafafa;
$color-grey-120: #9e9e9e;
$color-grey-110: #d8d8d8;
$color-grey-100: #f5f5f5;
$color-white: #ffffff;
$color-black: #000000;

$main-font: 'Arial', sans-serif;
$transition: 0.3s;
