@use 'vars' as *;
@use 'mixins' as *;
// @use 'fonts';

body,
html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  color: $color-grey-text;
  background-color: $color-grey-100;
  font-size: 20px;
  line-height: 150%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $md) {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
}

input,
button,
textarea {
  -webkit-appearance: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

button {
  outline: none;
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
}

ul,
ol {
  list-style-type: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.3s;
  color: $color-blue-dark;
  &:not(.current-route) {
    @include hover {
      color: $color-white;
    }
  }
  &.current-route {
    cursor: default;
  }
  &.underline {
    text-decoration: underline;
  }
}

p {
  margin-top: 0;
  &:last-child {
    margin: 0;
  }
}

.router-link-active {
  cursor: default;
}

.loading {
  user-select: none;
  opacity: 0.5;
  pointer-events: none;
  transition: 0.3s;
}
